
.Home-light {
  max-width: auto!important;
  height: 619px;
    background-color: #F0C808;

  }
  
  .Home-dark {
    max-width: auto!important;
  height: 619px;
    background-color: #93B5C6;
    color: white !important;

  }


  
  