.container {
    background-color: #2c3e50!important; /* colore di sfondo scuro */
    font-family: "Playfair Display", serif; /* font elegante e sofisticato */
    font-size: 18px; /* dimensione del testo */
  }
  
  .me-auto{
    position: relative;
    right: 30px;
  }

  .b{
    width: auto;
    height: 80px;
    padding: 0;
    background-color: #2c3e50!important; /* colore di sfondo scuro */
  }
  
  .nav-link {
    color: #fff!important; /* colore del testo dei link */
    font-weight: bold; /* enfasi sul testo dei link */
    margin-right: 1rem; /* spazio tra i link */
  }
  
  .nav-link:hover {
    color: #F0C808!important; /* colore del testo del link quando ci si passa sopra con il mouse */
    text-decoration: none; /* rimuovi la sottolineatura del link quando ci si passa sopra con il mouse */
  }
  
  .navbar-toggler {
    border-color: transparent; /* pulsante del menu a scomparsa senza bordo */
  }
  
  